body {
	width: 100%;
	margin-left: 0;
  margin-top: 0;
}

#topBackground {
	background: url("../images/norway2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  left: 0;
  top: 0;
  margin: 0 auto;
}

header {
  text-align: center;
  font-family: Arial;
	padding-bottom: 8.25em;
}

	.headerNav {
	position: fixed;
	width: 100%;
}

	.headerNav ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}

ul.nav {
	background-color: rgba(0, 0, 0,0.4);
}

	.headerNav li {
	font-size: 1em;
	display: inline-table;
	width: 10%;
	height: 2em;
	padding-top: .5em;
}

@media only screen and (max-width: 850px) {
	    .headerNav li, #aboutme, #experience, #contact {
        font-size: .8em;
    }
}

@media only screen and (max-width: 655px) {
	    .headerNav li {
        font-size: .6em;
    }
}

	.headerNav li a.links {
	text-decoration:none;
	color:#d4d5c8;
}

	.headerNav li a:hover {
	color:#fff;
}

li a img.headerpic {
  border-radius: 50%;
  height: 5em;
}

#aboutme {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
	font-family: Arial;
}

#aboutme h2 {
	color: #fff;
	font-family: Arial;
}

#aboutme h3 {
	color: #fff;
	font-family: Arial;
	font-weight: normal;
	margin-left: 25%;
	margin-right: 25%;
}


#experience h2 {
	text-align: center;
	color: #fff;
	font-family: Arial;
}

#experience h3 {
	text-align: center;
	color: #fff;
	font-family: Arial;
	font-weight: normal;
	margin-left: 25%;
	margin-right: 25%;
	padding-bottom: 5%;
}

#contact {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000;
	font-family: Arial;
    }

#contact ul {
	list-style-type: none;
	font-weight: normal;
	padding: 0;
}
