* {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin: 0;
}

h1 {
	margin:0px;
}

.container {
	/*background: url("../images/norway2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;*/
	/*left: 0;
	top: 0;*/
	margin: 0 auto;
}

.anchor{
	display: block;
	height: 2.8em; /*same height as header*/
	margin-top: -2.8em; /*same height as header*/
	visibility: hidden;
}

nav {
	text-align: center;
	font-family: Arial;
}

.headerNav {
	position: fixed;
	width: 100%;
	top: 0;
}

.headerNav ul {
	height: 2.8em;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	background-color: rgba(0, 0, 0,1.0);
}

.headerNav li {
	display: inline-table;
	/*width: 10%;*/
	height: 2.5em;
}

.headerName {
	padding-left: .2em;
	padding-top: .1em;
	font-size: 2em;
	float: left;
}

.headerName a {
	text-decoration:none;
	color:#d4d5c8;
}

/*.headerLinks {
display:inline-block;
}*/
/*
@media only screen and (max-width: 850px) {
.nav-links, #aboutme, #experience, #contact {
font-size: .8em;
}
}*/

.nav-links {
	float: right;
	padding-top: .8em;
	padding-right: 2%;
}

.nav-links li a {
	text-decoration:none;
	color:#d4d5c8;
}

@media only screen and (max-width: 655px) {
	.nav-links {
		padding-top: 1em;
		font-size: .8em;
	}
}

.headerNav li a:hover {
	color:#fff;
}

.top {
	margin-top: 2em;
	/*background-color:#E5E5E5;*/
	background: url("../images/norway2.jpg");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 4%;
	text-align: center;
	color: #E5E5E5;
	font-family: Arial;
	overflow: auto;
	height: 40em;
}

.top p, .experience p {
	margin: 0 auto;
	font-weight: normal;
	width: 75%;
	padding-top: 2%;
}

.topPic {
	width: 15em;
	height: auto;
	/*float: left;*/
	border-radius: 50%;
	/*margin-left:2%;*/
	padding: .2em;
}

.top h1 {
	margin-top: 3em;
}

/*li a img.headerPic {
border-radius: 50%;
height: 2em;
}

li a img.headerPic:hover {
border-radius: 50%;
height: 5em;
}*/

.portfolio {
	background-color: #3A383B;
	height: 40em;
	padding-top: 2%;
	text-align: center;
	color: #E5E5E5;
	font-family: Arial;
}

.portfolio-image {
	width: 20em;
	height: 15em;
	border-radius: 5%;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.project-description {
	vertical-align: middle;
	height: 15em;
	margin: 2em;
	/*background-color: rgba(255, 255, 255,0.4);*/
}

.portfolio-image0 {
	float:left;
	margin-right:1em;
	margin-left: 1em;
}

.portfolio-image1 {
	float:right;
	margin-right:1em;
	margin-left: 1em;
}

.portfolio-paragraph {
	margin-bottom: .3em;
	padding: 0;
}

/*.portfolio-image:hover {
width: auto;
height: 300px;
}*/

.aboutMe {
	background-color: #E5E5E5;
	height: 30em;
	padding-top: 2%;
	text-align: center;
	color: #3A383B;
	font-family: Arial;
}

.aboutMe p, .experience p {
	margin: 0 auto;
	font-weight: normal;
	width: 75%;
	padding-top: 2%;
	text-align: left;
}

.aboutMePic {
	width: 20em;
	height: auto;
	float: left;
	border-radius: 5%;
	margin-left:2%;
	margin-right: 2%;
	padding: .2em;
	box-shadow: 5px 5px 5px 0px rgba(0,0,0,0.75);
}

.experience {
	padding-top: 2%;
	text-align: center;
	color: #3A383B;
	font-family: Arial;
	height: 30em;
}

.contact {
	background-color: #495159;
	margin: 0;
	padding: 0;
	text-align: center;
	color: #E5E5E5;
	font-family: Arial;
	height: 10em;
	bottom: 0;
}

.contact h2 {
	list-style-type: none;
	font-weight: normal;
	padding-top: 1em;
}

.fa-facebook {
	text-decoration: none;
}

.fa-linkedin-square {
	text-decoration: none;
}

.fa-envelope {
	text-decoration: none;
}

.fa-globe {
	text-decoration: none;
}

#overlay {
	display:none;
	position:fixed;
	left:0px;
	top:0px;
	width:100%;
	height:100%;
	background:#000;
	opacity:0.5;
	z-index:99999;
}

#popup {
	display:none;
	position:fixed;
	left:40%;
	top:80%;
	width:200px;
	height:100px;
	background:#FFFFFF;
	border:2px solid #000;
	z-index:100000;
}

/*.stack {
margin: 20px auto;
width: 400px;
padding: 0;
position: relative;
max-width: 100%;
}

.stack div {
max-width: 100%;
position: absolute;
top: 0;
left: 0;
transition: all 0.3s;
}

.stack div:last-child {
position: relative;
}*/
