* {
	box-sizing: border-box;
}

body {
	width: 100%;
	margin-left: 0;
  margin-top: 0;
}

.body {
	background: url("../images/norway2.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*left: 0;
  top: 0;*/
  margin: 0 auto;
}

header {
  text-align: center;
  font-family: Arial;
	padding-bottom: 3em;
}

.headerNav {
	position: fixed;
	width: 100%;
	top: 0;
}

.headerNav ul {
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
	background-color: rgba(0, 0, 0,0.4);
}

.headerNav li {
	font-size: 1em;
	display: inline-table;
	width: 10%;
	height: 2em;
}

/*.headerLinks {
	display:inline-block;
}*/

@media only screen and (max-width: 850px) {
	    .headerNav li, #aboutme, #experience, #contact {
        font-size: .8em;
    }
}

@media only screen and (max-width: 655px) {
	    .headerNav li {
        font-size: .6em;
    }
}

.headerNav li a.links {
	text-decoration:none;
	color:#d4d5c8;
}

.headerNav li a:hover {
	color:#fff;
}

li a img.headerPic {
  border-radius: 50%;
  height: 2em;
}

li a img.headerPic:hover {
  border-radius: 50%;
  height: 5em;
}

.portfolio {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
	font-family: Arial;
}

.adventure {
	width: 250px;
	height: 175px;
}

.adventure:hover {
	width: auto;
	height: 300px;
}

.hippy {
	width: 250px;
	height: 175px;
}

.hippy:hover {
	width: auto;
	height: 300px;
}

.aboutMe {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #fff;
	font-family: Arial;
}

.aboutMe p {
	font-weight: normal;
	margin-left: 25%;
	margin-right: 25%;
}


.experience {
	text-align: center;
	color: #fff;
	font-family: Arial;
}

.experience p {
	font-weight: normal;
	margin-left: 25%;
	margin-right: 25%;
	padding-bottom: 5%;
}

.contact {
	margin: 0;
	padding: 0;
	text-align: center;
	color: #000;
	font-family: Arial;
    }

.contact ul {
	list-style-type: none;
	font-weight: normal;
	padding: 0;
}

.fa-facebook {
	text-decoration: none;
}

.fa-linkedin-square {
	text-decoration: none;
}

.fa-envelope {
	text-decoration: none;
}

.fa-globe {
	text-decoration: none;
}

#overlay {
   display:none;
   position:fixed;
   left:0px;
   top:0px;
   width:100%;
   height:100%;
   background:#000;
   opacity:0.5;
   z-index:99999;
}

#popup {
   display:none;
   position:fixed;
   left:40%;
   top:80%;
   width:200px;
   height:100px;
   background:#FFFFFF;
   border:2px solid #000;
   z-index:100000;
}
